<ion-view view-title={{course.coursename}}>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="attendance in attendances" type="item-text-wrap" href="#/tab/attendances/{{attendance.id}}">
                <h2>{{attendance.name}}</h2>
                <p>{{attendance.notes}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(attendance)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
