<ion-view view-title="{{classid}}">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="regist in regists" type="item-text-wrap">
                <div>
                    <span>
                         <h2>{{regist.student.firstname + " " + regist.student.lastname}}</h2>
                    </span>
                    <span>
                    <button class="button button-positive">
                        Attended
                    </button>
                    <button class="button button-assertive">
                        Missed
                    </button>
                    <button class="button button-light" ng-click="comment()">
                        Comment
                    </button>
                    </span>
                </div>
            </ion-item>
    </ion-content>
</ion-view>