<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Comment</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeComment()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doComment()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Comment</span>
                    <input type="text">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>