<div class="modal">
	<ion-header-bar>
		<h1 class="title">Create Teacher</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeCreateDialog()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="saveTeacher()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">First Name</span>
					<input type="text" ng-model="teacherCreateData.firstname">
				</label>
				<label class="item item-input">
					<span class="input-label">Last Name</span>
					<input type="text" ng-model="teacherCreateData.lastname">
				</label>
				<label class="item item-input">
					<span class="input-label">Email Address</span>
					<input type="text" ng-model="teacherCreateData.email">
				</label>
				<label class="item item-input">
					<span class="input-label">Password</span>
					<input type="password" ng-model="teacherCreateData.password">
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Create</button>
				</label>
			</div>
		</form>
		<div class="form-error" ng-bind="createError"></div>
	</ion-content>
</div>

